@model Inmobiliar.Models.CobroAlquilerModel

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("Delete", "CobroAlquiler", FormMethod.Post, new {id = "frmdelete" }))
                {
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        @if (ViewBag.Reimprimir != null)
                        {
                            <h3>
                                Reimprimir Cobro Alquileres
                            </h3>
                        }
                        else
                        {
                            <h3>
                                Anular Cobro Alquileres
                            </h3>                        
                        }                                                            
                        </div>
                        @if (ViewBag.TipoMsj == "Info")
                        {
                            <div class="alert alert-info alert-inline">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong id="strMsj">@ViewBag.Message</strong>
                            </div>
                        }
                        @if (ViewBag.TipoMsj == "Error")
                        {
                            <div class="alert alert-danger alert-inline margin-top-50 margin-bottom-50">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>@ViewBag.Message</strong>
                            </div>
                        }
                        @if (ViewBag.TipoMsj == "Success")
                        {
                            <div class="alert alert-success alert-inline margin-top-50 margin-bottom-50">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>@ViewBag.Message</strong>
                            </div>
                        }
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Buscar Inquilino
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group has-success">
                                                <label class="control-label" for="inputSuccess">Inquilino</label>
                                                <input type="text" class="form-control" id="ownerInquilino" name="Inquilino" data-detalle="DeleteCobro">
                                                @Html.HiddenFor(Model => Model.Contrato.sInquilinoId, new { id = "idInquilino" })
                                                @Html.HiddenFor(Model => Model.Contrato.sIdContrato, new { id = "idContrato" })
                                            </div>
                                            <div class="form-group has-success">
                                                <label class="control-label" for="inputSuccess">Apellido</label>
                                                <input type="text" class="form-control" id="InquilinoApellido" name="Apellido" disabled="">
                                            </div>
                                            <div class="form-group has-success">
                                                <label class="control-label" for="inputSuccess">Nombre</label>
                                                <input type="text" class="form-control" id="InquilinoName" name="Nombre" disabled="">
                                            </div>
                                            <div class="form-group has-success">
                                                <label class="control-label" for="inputSuccess">DU</label>
                                                <input type="text" class="form-control" id="InquilinoDU" name="DU" disabled="">
                                            </div>
                                            <div class="form-group has-success">
                                                <label class="control-label" for="inputSuccess">TelefonoLaboral</label>
                                                <input type="text" class="form-control" id="InquilinoTelefonoLaboral" name="TelefonoLaboral" disabled="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6" id="Propiedad">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Buscar Propiedad
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="control-label" for="disabledSelect">Propiedad</label>
                                                <input type="text" class="form-control required" id="datosPropiedad" name="prop">
                                                @Html.HiddenFor(Model => Model.Contrato.sPropiedadId, new { id = "idPropiedad" })
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="disabledSelect">Calle</label>
                                                <input type="text" class="form-control" id="Calle" name="domicilio.Calle" disabled="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="disabledSelect">Numero</label>
                                                <input type="text" class="form-control" id="Numero" name="domicilio.Numero" disabled="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="disabledSelect">Piso</label>
                                                <input type="text" class="form-control" id="Piso" name="domicilio.Piso" disabled="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="disabledSelect">Departamento</label>
                                                <input type="text" class="form-control" id="Dto" name="domicilio.Dto" disabled="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="disabledSelect">Barrio</label>
                                                <input type="text" class="form-control" id="Barrio" name="domicilio.Barrio" disabled="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="disabledSelect">CP</label>
                                                <input type="text" class="form-control" id="CP" name="domicilio.CP" disabled="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12" id="Cobro">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            Detalles del Cobro
                                        </div>
                                        <div class="panel-body">
                                            @*<div class="col-md-6 col-sm-6">*@
                                                <div class="well">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Periodos)
                                                        @Html.DropDownList("Periodo", new SelectList(@ViewBag.Periodo == null ? "" : @ViewBag.Periodo), new { @class = "form-control" })
                                                        @Html.HiddenFor(Model => Model.Pago.PagoId, new { id = "idPago" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="disabledSelect">Monto Pagado</label>
                                                        <input type="text" class="form-control" id="MontoPagado" name="pago.Monto" disabled="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="disabledSelect">Fecha Pago</label>
                                                        <input type="text" class="form-control" id="FechaPago" name="pago.fecha" disabled="">
                                                    </div>
                                                </div>
                                            @*</div>*@
                                        </div>
                                        <div class="panel-footer">

                                            @*<input type="submit" id="btnAnular" class="btn btn-primary" value="Anular" onclick="return confirm('Esta seguro que desea anular el cobro?');" />*@
                                        @if (ViewBag.Reimprimir != null)
                                        {
                                            @*<button type="button" class="fa fa-print fa-2x btn-primary" id="Reimprimir" name=""></button>*@
                                            <input id="Reimprimir" type="submit" class="btn btn-primary" name="action:GetImprimir" value="Imprimir" />
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                                Anular
                                            </button>
                                        }
                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            ¿Esta seguro que desea eliminar el cobro indicado. ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="submit" id="btnAnular" class="btn btn-primary" value="Si" name="action:Delete" />

                                                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                            @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
