@model Inmobiliar.Models.PropiedadesModel
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("Edit", "Propiedades", FormMethod.Post, new { id = "frmedit" }))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="page-header">
                                <small>Modificar Propiedad</small>
                            </h1>
                        </div>
                        <!-- Mensaje de error global -->
                        @if (ViewBag.TipoMsj == "Info")
                        {
                            <div class="alert alert-info alert-inline">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong id="strMsj">@ViewBag.Message</strong>
                            </div>
                        }
                        @if (ViewBag.TipoMsj == "Error")
                        {
                            <div class="alert alert-danger alert-inline margin-top-50 margin-bottom-50">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>@ViewBag.Message</strong>
                            </div>
                        }
                        @if (ViewBag.TipoMsj == "Success")
                        {
                            <div class="alert alert-success alert-inline margin-top-50 margin-bottom-50">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>@ViewBag.Message</strong>
                            </div>
                        }
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Buscar por Propiedad
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group has-success col-lg-12">
                                                <label class="control-label" for="inputSuccess">Propiedad</label>
                                                <input type="text" class="form-control required" id="datosPropiedad" name="prop">
                                                @Html.HiddenFor(Model => Model.domicilio.DomiciliosId, new { id = "idPropiedad" })
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <label class="control-label" for="inputSuccess">Calle</label>
                                                @Html.TextBoxFor(Model => Model.domicilio.Calle, new { id = "Calle", @class = "form-control", required = "" })                                                
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <label class="control-label" for="inputSuccess">Número</label>                                                
                                                @Html.TextBoxFor(Model => Model.domicilio.Numero, new { id = "Numero", @class = "form-control", required = "" })                                                
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <label class="control-label" for="inputSuccess">Piso</label>                                                
                                                @Html.TextBoxFor(Model => Model.domicilio.Piso, new { id = "Piso", @class = "form-control", required = "" })
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <label class="control-label" for="inputSuccess">Dto</label>
                                                @Html.TextBoxFor(Model => Model.domicilio.Dto, new { id = "Dto", @class = "form-control"})
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <label class="control-label" for="inputSuccess">Barrio</label>
                                                @Html.TextBoxFor(Model => Model.domicilio.Barrio, new { id = "Barrio", @class = "form-control", required = "" })
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <label class="control-label" for="inputSuccess">Ciudad</label>
                                                @Html.TextBoxFor(Model => Model.domicilio.Ciudad, new { id = "Ciudad", @class = "form-control", required = "" })                                                
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <label class="control-label" for="inputSuccess">CP</label>
                                                @Html.TextBoxFor(Model => Model.domicilio.CP, new { id = "CP", @class = "form-control", required = "" })                                                
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <br /><br /><br />
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <label class="control-label" for="inputSuccess">Nro Contrato Epec</label>
                                                @Html.TextBoxFor(Model => Model.NroContratoEpec, new { id = "NroContratoEpec", @class = "form-control" })                                                
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <label class="control-label" for="inputSuccess">Nomenclatura Catastral</label>
                                                @Html.TextBoxFor(Model => Model.NomenclaturaCatastral, new { id = "NomenclaturaCatastral", @class = "form-control" })                                                
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <label class="control-label" for="inputSuccess">Numero Cuenta Renta</label>
                                                @Html.TextBoxFor(Model => Model.NumeroCtaRenta, new { id = "NumeroCtaRenta", @class = "form-control" })                                                
                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <label class="control-label" for="inputSuccess">Unidad Facturacion</label>
                                                @Html.TextBoxFor(Model => Model.UnidadFacturacion, new { id = "UnidadFacturacion", @class = "form-control" })                                                
                                            </div>
                                            <div class="form-group has-error col-lg-6">
                                                <label class="control-label" for="inputError">Dueño</label>
                                                <input type="text" class="form-control" id="ownerName" name="" />
                                                @Html.HiddenFor(Model => Model.Dueño.PersonasId, new { id = "idPersona", required = "" })

                                                @*<input type="hidden" name="Dueño.PersonasId" value="" id="idPersona" required />*@

                                            </div>
                                            <div class="form-group has-success col-lg-6">
                                                <br /><br /><br />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <input type="submit" class="btn btn-primary" value="Modificar" />
                        </div>
                    
                    </div>
                }
            </div>
        </div>
    </div>
</div>